# Dependencies
node_modules/

# Production Build Output
dist/
dist-ssr/
*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment & Local Configuration
.env
.env.local
.env.*.local

# Editor & System Files
.DS_Store
Thumbs.db
.vscode/
.idea/
.zcode/
*.swp
*.swo

# Databases
*.db
